body{
    text-align: center;
    background-image: radial-gradient( honeydew, dodgerblue, honeydew
   
    );
    font-family: 'Akaya Kanadaka', cursive;
}

h1{
    font-family: 'Akaya Kanadaka', cursive;

}
hr{
    ;
    width:100px;}
    

    }
  section{
    background-color: cadetblue;
    text-align: center;
}
.album_grid {
    width: 1000px;
    height: 500px;
}

.menu {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    background: white;
    width: 100%;
}

.links {
    display: inline;
    padding-left: 9px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    font-size: 20px;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.carousel_imgs {
    width: 300px;
    
}

p {
    font-size: 30px;
}

h2 {
    color: whitesmoke;
    text-align: center;
}
#image1{
    width: 2000px;
    height: 1200px;
}
#queste{
    background-color:;
    background-image: radial-gradient( dodgerblue,#34baeb ,#3489eb
    )
}